.center {
    text-align:center;
}
.spread {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
button {
    background-color: rgb(211, 35, 35);
    border-radius:5px;
    cursor: pointer;
    font-size: 30px;
}
.red {
    background-color: rgb(255, 0, 0);
    padding:25px;
    max-width:1718px;
    margin:0 auto;
}
.black {
    background-color:rgb(7, 7, 7);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.black::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background: radial-gradient(circle, rgba(204, 0, 0, 0.489) 0%, rgba(7, 7, 7, 0) 50%);
    filter: blur(160px);
    z-index: -1;
    pointer-events: none;
}
.padding {
    padding:25px;
}
.pressed {
    background-color: rgb(171, 42, 42);
    border-radius:5px;
    cursor:pointer;
    font-size:27px;
}
.italic {
    font-style: italic;
}
.dark {
    background-color:rgb(32, 32, 32);
    margin-bottom: 25px;
}
.top-strip {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
}