.center {
    text-align:center;
}
.spread {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
button {
    background-color: rgb(211, 35, 35);
    border-radius:5px;
    cursor: pointer;
    font-size: 50px;
}
.red {
    background-color: rgb(205, 0, 0);
    padding:25px;
}
.black {
    background-color:black;
}
